@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.button{
  display: inline-flex;
  border: 1px solid #1d1d1d;
  color: #1d1d1d;
  background-color: #fff;
  transition: all .3s;
  opacity: 1;
  padding: 1rem 1.6rem;
  border-radius: .6rem;
  font-weight: 500;
  font-size: 1rem;
  &:hover{
    opacity: .8;
  }
  &:has(i){
    gap: 0 1rem;
  }
  @media (max-width: $tablet){
    font-size: 1rem;
    gap: 0 .5rem;
    i{
      width: 1.3rem;
      height: 1.3rem;
      background-size: cover;
    }
  }
  &-full {
    width: 100%; 
    justify-content: center;
  }
  &-primary{
    background-color: #1D1D1F;
    color: #DDDDDD;
    border-color: #38383A;
  }
  &-mint {
    background-color: #8CE2D0;
    color: #1D1D1F;
    border-color: #8CE2D0;
  }
  &-red {
    background-color: #E83B2F;
    color: #fff;
    border-color: #E83B2F;
  }
  &-black {
    background-color: #2A2A2A;
    color: #fff;
    border-color: #2A2A2A;
  }
  &-darkblue {
    background-color: #002554;
    color: #8CE2D0;
    border-color: #002554;
  }
}

.button-medium {
  padding: 0.625rem 0.5rem;
  font-size:14px;
  align-items: center;
}
.button-mini {
  display: inline-flex;
  border: 1px solid #1D1D1F;
  color: #DDDDDD;
  background-color: #1D1D1F;
  transition: all .3s;
  opacity: 1;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  &:hover{
    opacity: .8;
  }
}