@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    @media (max-width: $tablet){
        flex-wrap: wrap;
        
    }
    .page-navi{
        display: flex;
        align-items: center;
        gap: 0 1rem;
        @media (max-width: $tablet){
            order: 1;
        }
        &.disabled{
            opacity: .5;
            cursor: not-allowed;
        }
        &.prev{
            &::before{
                display: inline-block;
                content: '';
                width: 9px;
                height: 1.6rem;
                background: url('@/assets/images/portal/ico-paging-prev.png') no-repeat center center / contain;
            }
        }
        &.next{
            &::after{
                display: inline-block;
                content: '';
                width: 9px;
                height: 1.6rem;
                background: url('@/assets/images/portal/ico-paging-next.png') no-repeat center center / contain;
            }
        }
    }
}
.page-links{
    display: flex;
    align-items: center;
    gap: 0 .8rem;
    justify-content: center;
    @media (max-width: $tablet){
        order: 2;
        width: 100%;
    }
    .page-link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: .4rem;
        transition: all .3s;
        background-color: #fff;
        font-size: var(--font-size-lg);
        color: var(--text-color-tertiary);
        &:hover,
        &:focus{
            background-color: #f1f1f1;
        }
        &.active{
            background-color: #000;
            color: #fff;
            font-weight: 700;
        }
        @media (max-width: $tablet){
            width: 3.2rem;
            height: 3.2rem;
            font-size: var(--font-size-md);
            &:nth-child(n+6){
                display: none;
            }
        }
    }
    .link-dot{
        height: auto;
    }
}