@charset "utf-8"; /* 퍼블 common.css 소스 */


/* ************************************** NEW ************************************** */
:root { /* 브랜드 색상 */
 --header-size: 80px;

/* #FFFFFF 10% */
 --white-translucent: rgba(255, 255, 255, 0.1);

 /* 백그라운드 */
 --blue-gradient: linear-gradient(136deg, rgba(0, 28, 63, 0.60) 16.79%, rgba(0, 37, 84, 0.60) 91.41%);

 --brandcolor-light: #EAF8F5;
 --brandcolor-light-hover: #EEFBF8;
 --brandcolor-light-active: #DBF6F0;
 --brandcolor-normal: #8CE2D0; /* 주요 텍스트 */
 --brandcolor-hover: #7ECBBB;
 --brandcolor-active: #70B5A6;
 --brandcolor-dark: #69AA9C;
 --brandcolor-dark-hover: #54887D;
 --brandcolor-dark-active: #3F665E;

 --subcolor-blue-light: #E6E9EE;
 --subcolor-blue-light-active: #B0BBCA;
 --subcolor-blue-light-hover: #D9DEE5;
 --subcolor-blue-normal: #002554;
 --subcolor-blue-dark: #001C3F;
 --subcolor-blue-dark-active: #001126;

 --subcolor-red-light: #ffefee;
 --subcolor-red-normal: #fd5c51;
 --subcolor-red-dark: #be453d;

 --greycolor-grey00: #ffffff;
 --greycolor-grey01: #fdfdfd;
 --greycolor-grey02: #f6f6f6;
 --greycolor-grey03: #f1f1f2;
 --greycolor-grey04: #dddddd; /* 일반적 텍스트 */
 --greycolor-grey05: #8d8d8d;
 --greycolor-grey06: #5a5a5b;
 --greycolor-grey07: #38383a;
 --greycolor-grey08: #1d1d1f;
 --greycolor-grey09: #0d0f12;

 --cFFFFFF : #fd5c51;
 --c8CE2D0 : #8CE2D0;
 --c8D8D8D : #8D8D8D;

 /* typography */
 --namu-bold: "WellnessSans_B", "Pretendard"; --namu-regular: "WellnessSans_R", "Pretendard"; --font-family-base: "Pretendard", sans-serif; /* 제품타이틀 외 모든 서비스와 문서 */
 --font-family-title: "WellnessSans_Bold", sans-serif; /* 제품 타이틀 */ }

.screen-reader-only {
  position: absolute;
  z-index: -1;
  display: inline-block;
  overflow: hidden;
  height: 1px;
  width: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-break: initial;
  word-wrap: initial;
}
.color-red { color: var(--cFFFFFF)!important; }
.color-mint { color: var(--c8CE2D0)!important; }
.color-gray { color: var(--c8D8D8D)!important;}

.namuB { font-family: var(--namu-bold) !important; font-weight: bold !important; }
.namuR { font-family: var(--namu-regular) !important; }

/* logo */
.namu_logo { position: relative; margin: 0 auto; }
.namu_logo::after { content: ''; display: block; width: 100%; padding-bottom: 19%; background: center / contain no-repeat; background-image: url(../../img/common/brand/logo_white.svg); }
.namu_logo.mint::after { background-image: url(../../img/common/brand/logo_mint.svg); }
.namu_logo.fit { margin: 0; }
.namu_logo.fit::after { padding-bottom: 22%; background-image: url(../../img/common/brand/logo_white_fit.svg); }

html, #wrap, #container, #contents, .content {background-color: var(--greycolor-grey09);}


body,
th,
td,
input,
select,
textarea,
button { font-family: var(--font-family-base); color: var(--greycolor-grey04); }

::spelling-error { color: unset !important; }

video {
  background-color: black; /* 빨간 화면 가리기 */
}

sup { font-size: 0.6em; }

.hidden,
.blind { position: absolute !important; top: auto !important; left: auto !important; width: 1px !important; height: 1px !important; padding: 0 !important; margin: -1px !important; overflow: hidden !important; clip: rect(0, 0, 0, 0) !important; white-space: nowrap !important; border: 0 !important; text-indent: 0px !important; }

.hidden::before,
.blind::before { display: block; width: 0; height: 0; content: "\00a0"; font-size: 0; }

.m_hide { display: var(--display-origin, block) !important; }
.m_show { display: none !important; }

.img_box { display: block; position: relative; width: 100%; font-size: 0; }
.img_box img { width: 100%; }

.img256 { width:256px; }
.img192 { width:192px; }
.img128 { width:128px; }
.img100 { width:100px; }
.img72 { width:72px; }
.img64 { width: 64px; }
.img48 { width: 48px; }
.img36 { width: 36px; }

/* *************************************** 백그라운드 패턴 이미지 *************************************** */
/* 백그라운드 eyepettern-xl */
.bg_ge_xl_default {background: url(../../img/common/bg/bg-eyepettern-xl-default_v2.png) no-repeat center / 1190px 320px;}

/* 백그라운드 eyepettern-md */
.bg_ge_md_default {background: url(../../img/common/bg/bg-eyepettern-md-default_v2.png) no-repeat center / 870px 240px;}

/* 백그라운드 eyepettern-xxs */
.bg_ge_xxs_default {background: url(../../img/common/bg/bg-eyepettern-xxs-default_v2.png) no-repeat center / 486px 144px;}

/* 백그라운드 eyepettern-comb-xl */
.bg_gecomb_xl_default {background: url(../../img/common/bg/bg-eyepettern-comb-xl-default.png) no-repeat center / 856px 280px;}
.bg_gecomb_xl_type2 {background: url(../../img/common/bg/bg-eyepettern-comb-xl-type2.png) no-repeat center / 856px 280px;}
.bg_gecomb_xl_type3 {background: url(../../img/common/bg/bg-eyepettern-comb-xl-type3.png) no-repeat center / 856px 280px;}
.bg_gecomb_xl_type4 {background: url(../../img/common/bg/bg-eyepettern-comb-xl-type4.png) no-repeat center / 856px 280px;}
.bg_gecomb_xl_type5 {background: url(../../img/common/bg/bg-eyepettern-comb-xl-type5.png) no-repeat center / 856px 280px;}

/* 백그라운드 eyepettern-comb-md */
.bg_gecomb_md_default {background: url(../../img/common/bg/bg-eyepettern-comb-md-default_v2.png) no-repeat center / 620px 200px;} /*이미지 등록 완료*/
.bg_gecomb_md_type2 {background: url(../../img/common/bg/bg-eyepettern-comb-md-type2_v2.png) no-repeat center / 620px 200px;} /*이미지 등록 완료*/
.bg_gecomb_md_type3 {background: url(../../img/common/bg/bg-eyepettern-comb-md-type3_v2.png) no-repeat center / 620px 200px;} /*이미지 등록 완료*/
.bg_gecomb_md_type4 {background: url(../../img/common/bg/bg-eyepettern-comb-md-type4_v2.png) no-repeat center / 620px 200px;}
.bg_gecomb_md_type5 {background: url(../../img/common/bg/bg-eyepettern-comb-md-type5_v2.png) no-repeat center / 620px 200px;}


/* 백그라운드 pattern_box */
.bg_pattern_box_xl, .bg_pattern_box_md{display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;}
.bg_pattern_box_xl{min-height: 280px;}
.bg_pattern_box_md{min-height: 200px;}
.bg_pattern_box_xl .main_text, .bg_pattern_box_md .main_text{font-size: 24px; font-family: var(--namu-bold); color:var(--brandcolor-normal)}

/* 팝업내 패턴 간격 */
.popup_content .bg_pattern_box_md{padding: 60px 0;}


.bold { font-weight: 600; }
.block { display: block; }

/* border-border-radius */
.radius4{border-radius: 4px;}
.radius10{border-radius: 10px;}
.radius12{border-radius: 12px;}

/* 말줄임 */
.ellipsis01 { display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; width: 535px; overflow: hidden; text-overflow: ellipsis; }
.ellipsis02 { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 295px; overflow: hidden; text-overflow: ellipsis; }
.ellipsis03 { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 128px; overflow: hidden; text-overflow: ellipsis; }

/* layout */
.container { margin-bottom: 120px; }
.container section { margin-top: 120px; }
.inner_1280 { position: relative; margin: 0 auto; width: auto; max-width: 1280px; }
.inner_1440 { position: relative; margin: 0 auto; width: auto; max-width: 1440px; }

/* product-text 제품명 */
.product_text { font-family: var(--font-family-title); font-weight: 600; }

/* 디바이더 */
.com_divider { width: 100%; height: 1px; background-color: var(--greycolor-grey04); margin: 40px 0; }
.com_divider_20 { width: 100%; height: 1px; background-color: var(--greycolor-grey04); margin: 20px 0; }
.com_divider_dark { width: 100%; height: 1px; background-color: var(--greycolor-grey08); margin: 40px 0; }
.com_divider_dark { width: 100%; height: 1px; background-color: var(--greycolor-grey08); margin: 40px 0; }
.com_divider_transparent_20 { width: 100%; height: 1px; background-color: var(--white-translucent); margin: 20px 0; }
.com_divider_16 { width: 100%; height: 1px; background-color: var(--white-translucent); margin: 16px 0; }
.com_divider.no_margin,
.com_divider_dark.no_margin { margin: 0; }

/* line-height */
.lineheight_1 { line-height: 1; }
.lineheight_2 { line-height: 2; }

/* text-color */
.text_grey00 { color: var(--greycolor-grey00) !important; }
.text_grey01 { color: var(--greycolor-grey01) !important; }
.text_grey02 { color: var(--greycolor-grey02) !important; }
.text_grey03 { color: var(--greycolor-grey03) !important; }
.text_grey04 { color: var(--greycolor-grey04) !important; }
.text_grey05 { color: var(--greycolor-grey05) !important; }
.text_grey06 { color: var(--greycolor-grey06) !important; }
.text_grey07 { color: var(--greycolor-grey07) !important; }
.text_grey08 { color: var(--greycolor-grey08) !important; }
.text_grey09 { color: var(--greycolor-grey09) !important; }
.text_brand { color: var(--brandcolor-normal) !important; }
.text_brand_hover { color: var(--brandcolor-hover) !important; }
.text_brand_dark { color: var(--brandcolor-dark) !important; }
.text_red { color: var(--subcolor-red-normal) !important; }
.text_red a { color: inherit; text-decoration: underline; }
.text_blue { color: var(--subcolor-blue-normal) !important; }

/* headline-text */
.headline48 { font-size: 48px !important; font-weight: 600; }
.headline32 { font-size: 32px !important; font-weight: 600; }
.headline28 { font-size: 28px !important; font-weight: 600; }
.headline24 { font-size: 24px !important; font-weight: 600; }
.headline20 { font-size: 20px !important; font-weight: 600; }
.headline18 { font-size: 18px !important; font-weight: 600; }
.headline16 { font-size: 16px !important; font-weight: 600; }
.headline14 { font-size: 14px !important; font-weight: 600; }

/* main-text */
.main24 { font-size: 24px; }
.main20 { font-size: 20px !important; }
.main18 { font-size: 18px !important; }
.main16 { font-size: 16px !important; }
.main15 { font-size: 15px !important; }
.main14 { font-size: 14px !important; }
.main12 { font-size: 12px !important; }

/* margin */
.mx_auto { margin: 0 auto !important; }
.max_w1416 { max-width: 1416px !important; }
.m_0 { margin: 0 !important; }
.p_0 { padding: 0 !important; }

.mt0 { margin-top: 0px !important; }
.mt4 { margin-top: 4px !important; }
.mt8 { margin-top: 8px !important; }
.mt10 { margin-top: 10px !important; }
.mt16 { margin-top: 16px !important; }
.mt20 { margin-top: 20px !important; }
.mt24 { margin-top: 24px !important; }
.mt32 { margin-top: 32px !important; }
.mt40 { margin-top: 40px !important; }
.mt48 { margin-top: 48px !important; }
.mt60 { margin-top: 60px !important; }
.mt80 { margin-top: 80px !important; }
.mt120 { margin-top: 120px !important; }

.mb0 { margin-bottom: 0px !important; }
.mb4 { margin-bottom: 4px !important; }
.mb8 { margin-bottom: 8px !important; }
.mb12 { margin-bottom: 12px !important; }
.mb16 { margin-bottom: 16px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb24 { margin-bottom: 24px !important; }
.mb32 { margin-bottom: 32px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb120 { margin-bottom: 120px !important; }

.ml0 { margin-left: 0px !important; }
.ml4 { margin-left: 4px !important; }
.ml8 { margin-left: 8px !important; }
.ml10 { margin-left: 10px !important; }
.ml16 { margin-left: 16px !important; }
.ml20 { margin-left: 20px !important; }
.ml24 { margin-left: 24px !important; }
.ml32 { margin-left: 32px !important; }
.ml40 { margin-left: 40px !important; }
.ml60 { margin-left: 60px !important; }
.ml80 { margin-left: 80px !important; }
.ml120 { margin-left: 120px !important; }

.mr0 { margin-right: 0px !important; }
.mr4 { margin-right: 4px !important; }
.mr8 { margin-right: 8px !important; }
.mr10 { margin-right: 10px !important; }
.mr16 { margin-right: 16px !important; }
.mr20 { margin-right: 20px !important; }
.mr24 { margin-right: 24px !important; }
.mr32 { margin-right: 32px !important; }
.mr40 { margin-right: 40px !important; }
.mr60 { margin-right: 60px !important; }
.mr80 { margin-right: 80px !important; }
.mr120 { margin-right: 120px !important; }

/* padding */
.pt0 { padding-top: 0px !important; }
.pt4 { padding-top: 4px !important; }
.pt8 { padding-top: 8px !important; }
.pt16 { padding-top: 16px !important; }
.pt20 { padding-top: 20px !important; }
.pt24 { padding-top: 24px !important; }
.pt32 { padding-top: 32px !important; }
.pt40 { padding-top: 40px !important; }
.pt60 { padding-top: 60px !important; }
.pt80 { padding-top: 80px !important; }
.pt120 { padding-top: 120px !important; }

.pb0 { padding-bottom: 0px !important; }
.pb4 { padding-bottom: 4px !important; }
.pb8 { padding-bottom: 8px !important; }
.pb16 { padding-bottom: 16px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb24 { padding-bottom: 24px !important; }
.pb32 { padding-bottom: 32px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb120 { padding-bottom: 120px !important; }

.pl0 { padding-left: 0px !important; }
.pl4 { padding-left: 4px !important; }
.pl8 { padding-left: 8px !important; }
.pl16 { padding-left: 16px !important; }
.pl20 { padding-left: 20px !important; }
.pl24 { padding-left: 24px !important; }
.pl32 { padding-left: 32px !important; }
.pl40 { padding-left: 40px !important; }
.pl60 { padding-left: 60px !important; }
.pl80 { padding-left: 80px !important; }
.pl120 { padding-left: 120px !important; }

.pr0 { padding-right: 0px !important; }
.pr4 { padding-right: 4px !important; }
.pr8 { padding-right: 8px !important; }
.pr16 { padding-right: 16px !important; }
.pr20 { padding-right: 20px !important; }
.pr24 { padding-right: 24px !important; }
.pr32 { padding-right: 32px !important; }
.pr40 { padding-right: 40px !important; }
.pr60 { padding-right: 60px !important; }
.pr80 { padding-right: 80px !important; }
.pr120 { padding-right: 120px !important; }

.flex { display: flex !important; }
.flex.col { flex-direction: column; }
.flex.center { align-items: center; }
.flex.justify_center { justify-content: center; }
.flex.between { justify-content: space-between; }
.flex_center { align-items: center !important; }
.flex_start { align-items: flex-start !important; }

.gap0 { gap: 0 !important; }
.gap8 { gap: 8px !important; }
.gap16 { gap: 16px !important; }
.gap20 { gap: 20px !important; }
.gap24 { gap: 24px !important; }
.gap32 { gap: 32px !important; }
.gap40 { gap: 40px !important; }
.gap60 { gap: 60px !important; }


.shrink0 { flex-shrink: 0 !important; }

/* text align */
.al_center { text-align: center !important; }
.al_left { text-align: left !important; }
.al_right { text-align: right !important; }

.cursor { cursor: pointer; }

/* red_dot, green_dot */
.red_dot::after { content: '*'; display: inline-block; position: relative; right: -4px; color: var(--subcolor-red-normal); }

/* page_tit */
.page_tit { margin-bottom: 60px; font-size: 24px; font-weight: 600; font-family: var(--namu-bold) !important; font-weight: bold !important; color: var(--greycolor-grey04); word-break: break-all;}

/* popuplayout */
.popup_dim {position: fixed; top:0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.5); backdrop-filter: blur(25px); }

.popup_wrapper { position: fixed !important; top: 50% !important; left: 50% !important; transform: translate(-50%, -50%); overflow-y: overlay !important; background: var(--blue-gradient); }

/* animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


input[type="radio"] { width: 13px; height: 13px; vertical-align: top; }
input[type="text"],
input[type="password"],
input[type="number"],
input[type="pattern"],
input[type="tel"] { width: 100%; height: 56px; padding: 0 24px; border-radius: 10px; outline: none; font-size: 14px; background-color: var(--greycolor-grey08); border: 1px solid var(--greycolor-grey06); color: var(--greycolor-grey05); }

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled,
input[type="pattern"]:disabled,
input[type="tel"]:disabled {background-color: #5A5A5B; color:#99999A;}



input[type="text"].type_white,
input[type="password"].type_white,
input[type="number"].type_white,
input[type="pattern"].type_white,
input[type="tel"].type_white {background-color: #fff; border: 1px solid #D9DEE5;}

input[type="checkbox"] { width: 13px; height: 13px; vertical-align: top; }
input[type="image"] { vertical-align: top; border: none; cursor: pointer; }
input[type="button"] { border: none; background: none; cursor: pointer; }
input[type="submit"] { cursor: pointer; vertical-align: top; font-size: 100%; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active { -webkit-text-fill-color: var(--greycolor-grey05); -webkit-box-shadow: 0 0 0px 1000px var(--greycolor-grey00) inset; box-shadow: 0 0 0px 1000px var(--greycolor-grey00) inset; transition: background-color 5000s ease-in-out 0s; background: #fff; }

input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active,
input[type="password"]:-webkit-autofill,
input[type="password"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:focus,
input[type="password"]:-webkit-autofill:active,
input[type="number"]:-webkit-autofill,
input[type="number"]:-webkit-autofill:hover,
input[type="number"]:-webkit-autofill:focus,
input[type="number"]:-webkit-autofill:active,
input[type="pattern"]:-webkit-autofill,
input[type="pattern"]:-webkit-autofill:hover,
input[type="pattern"]:-webkit-autofill:focus,
input[type="pattern"]:-webkit-autofill:active,
input[type="tel"]:-webkit-autofill,
input[type="tel"]:-webkit-autofill:hover,
input[type="tel"]:-webkit-autofill:focus,
input[type="tel"]:-webkit-autofill:active { -webkit-text-fill-color: var(--greycolor-grey05); -webkit-box-shadow: 0 0 0px 1000px var(--greycolor-grey08) inset; box-shadow: 0 0 0px 1000px var(--greycolor-grey08) inset; transition: background-color 5000s ease-in-out 0s; }

input[type="text"].type_white:-webkit-autofill,
input[type="text"].type_white:-webkit-autofill:hover,
input[type="text"].type_white:-webkit-autofill:focus,
input[type="text"].type_white:-webkit-autofill:active,
input[type="password"].type_white:-webkit-autofill,
input[type="password"].type_white:-webkit-autofill:hover,
input[type="password"].type_white:-webkit-autofill:focus,
input[type="password"].type_white:-webkit-autofill:active,
input[type="number"].type_white:-webkit-autofill,
input[type="number"].type_white:-webkit-autofill:hover,
input[type="number"].type_white:-webkit-autofill:focus,
input[type="number"].type_white:-webkit-autofill:active,
input[type="pattern"].type_white:-webkit-autofill,
input[type="pattern"].type_white:-webkit-autofill:hover,
input[type="pattern"].type_white:-webkit-autofill:focus,
input[type="pattern"].type_white:-webkit-autofill:active,
input[type="tel"].type_white:-webkit-autofill,
input[type="tel"].type_white:-webkit-autofill:hover,
input[type="tel"].type_white:-webkit-autofill:focus,
input[type="tel"].type_white:-webkit-autofill:active { -webkit-text-fill-color: var(--greycolor-grey05); -webkit-box-shadow: 0 0 0px 1000px #fff inset; box-shadow: 0 0 0px 1000px #fff inset; transition: background-color 5000s ease-in-out 0s; }
