@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

$gap: 2rem;

$header-height: 10rem;

body,html{
overflow: hidden;
width: 100%;
height: 100%;
}

.map-page{
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

@media (min-width: 1024px) {
    
    .header-hide{
        .map-header{
            transform: translateY(-100%);
        }
        .map-main{
            height: 100dvh;
            transform: translateY(-$header-height);
        }
    }
}

.map-main{
    height: calc(100dvh - 16rem);
    position: relative;
    //transform: translateY(-$header-height);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);  
    display: flex;
    @media (max-width: 1024px) {
        height: calc(100dvh - 7rem);
        transform: translateY(0);
    }
}

/* 구성 위치 */
#map{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
} 


.aside-panel{
    position: relative;
    width: 37rem;
}
.map-area{
    flex: 1;
    position: relative;
}
// 맵 영역 위치 정의
.map-topleft{
    position: absolute;
    left: $gap;
    top: $gap;
    z-index: 10;
}
.map-topright{
    position: absolute;
    right: $gap;
    top: $gap;
    z-index: 10;
}
.map-bottomleft{
    position: absolute;
    left: $gap;
    bottom: $gap;
    z-index: 10;
}
.map-bottomcenter{
    position: absolute;
    left: 50%;
    bottom: $gap;
    transform: translateX(-50%);
    z-index: 10;
    @media (max-width: 1690px) {
        left: inherit;
        right: $gap;
        transform: translateX(0);
        bottom: 11.5rem;
    }
}


.map-location-search{
    display: flex;
    align-items: center;
    height: 4rem;
    border-radius: 1.2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    border-radius: 2rem;
    overflow: hidden;
    
    select,
    button{
        height: 100%;
        background: #fff;
        width: 14rem;
        font-size: 1.5rem;
        color: var(--color-text-primary);
    }
    select{
        background-color: #fff;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right .8rem center;
        background-size: 1.6rem;
        padding: 0 1.6rem;
        border-left: 1px solid #D9D9D9;
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:0;
        .svg-icon{
            background-color: #000;
            width: 2rem;
            height: 2rem;
            margin-left: .5rem;
        }
        &[aria-pressed="true"]{
            background-color: #000;
            color: #fff;
            .svg-icon{
                background-color: #fff;
            }
        }
    }
}
.map-bottomright{
    position: absolute;
    right: $gap;
    bottom: $gap;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    @media (max-width: 1024px) {
        // right:0;
        // left:0;
        // bottom:0;
        position: relative;
        right: inherit;
        bottom: inherit;
        display: block;
    }
}
.legal-disclaimer{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e6f3ff;
    height: 6rem;
    font-size: 1.3rem;
    color: #8e8e8e;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    //flex-direction: column;
    p{
        margin: 0;
        color: var(--color-primary);
        font-weight: 500;
    }
    @media (max-width: 1024px) {
        height: 5rem;
        font-size: 1.2rem;
        gap:0;
        flex-direction: column;
    }
    @media (max-width: 768px) {
        font-size: 1.1rem;
        gap:0;
        flex-direction: column;
    }
}

.view-mode{
    .content-panel{
        display: flex;
    }
    @media screen and (min-width: $desktop) {
        .map-topleft{
            transform: translateX(39rem);
        }
        .map-bottomleft{
            transform: translateX(39rem);
        }
    }
}

@media screen and (max-width: $desktop) {
    .map-area{
        
    }
    .map-bottomcenter{
        display: none;
    }
    .map-topleft{
        transform: translateY(0);
        top: 8rem;
        z-index: 1002;
    }
    .map-topright{
        top: 13.6rem;
    }
}