@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.legend-wrap{
    position: relative;
}

.legend-trigger{
    .btn-legend{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .8rem;
        border: 1px solid #555;
        background-color: #fff;
        width: 12.2rem;
        height: 4rem;
        font-size: 1.5rem;
        color: var(--color-text-primary);
        gap:0 1rem;
        i{
            border: 1px solid #ddd;
            width: 2.4rem;height: 2.4rem;
            border-radius: .4rem;
            background: url('@/assets/images/map/ico-arrow-up.svg') no-repeat center center;
        }
    }
}

.legend-float{
    &.show{
        display: block;
    }
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 46.4rem;
    height: auto;
    background-color: #fff;
    border-radius: .8rem;
    border: 1px solid #555555;
    overflow: hidden;
}

// 범례 스타일
.legend-wrap{
    //display: none;
}

.legend-tab-content{
    display: none;
    &.active{
        display: block;
    }
}

.btn-legend-tab-close{
    flex-grow: 1;
    border-bottom: 1px solid #D8D8D8;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 0.4rem;
        transform: rotate(180deg);
    }
    i{
        border: 1px solid #ddd;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 0.4rem;
        background: url(/assets/images/map/ico-arrow-up.svg) no-repeat center center;
    }
}
.legend-tab{
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    ul{
        display: flex;
        align-items: center;
        li{
            button{
                height: 48px;
                padding: 0 17px;
                background-color: transparent;
                border: 0;
                font-size: 1.7rem;
                color: #8e8e8e;
                border-right: 1px solid #D8D8D8;
                border-bottom: 1px solid #D8D8D8;
                &.active{
                    background-color: #fff;
                    color: var(--color-primary);
                    font-weight: 500;
                    border-bottom-color: #fff;
                }
                @media screen and (max-width: 768px) {
                    font-size: 1.2rem;
                    padding: 0 1rem;
                }
            }
        }
    }
}

.legend-tab-content{
    padding: 12px;
    background-color: #fff;
}
 
.legend-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .4rem;
}
.legend-item{
    display: flex;
    align-items: center;
    gap: 0 .4rem;
    i{
        flex-shrink: 0;
    }
    span{
        color: #717171;
        font-size: 1.3rem;
        @media screen and (max-width: 768px) {
            font-size: 1.1rem;
        }
    }
}

.pin-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: .4rem;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(3,1fr);
    }
}
.pin-item{
    display: flex;
    align-items: center;
    gap: 0 .4rem;
    i{
        flex-shrink: 0;
    }
    span{
        color: #717171;
        font-size: 1.3rem;
        @media screen and (max-width: 768px) {
            font-size: 1.1rem;
        }
    }
}

.legend-tab2{
    display: flex;
    align-items: center;
    gap:0 1rem;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 1.5rem;
    .btn-legend-tab2{
        background-color: #fff;
        border: 1px solid #c7c7c7;
        padding: 6px 12px;
        border-radius: 1.6rem;
        font-size: 1.5rem;
        color: #555;
        white-space: nowrap;
        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
        }
        &.active{
            color: #fff;
            background-color: #17A595;
            border-color: #17A595;
        }
    }
}

.legend-tab2-content{
    display: none;
    &.active{
        display: block;
    }
}
// 국토계획 범례 스타일
.map-serviceList-legend {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 0.5rem;
    li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.3rem 0;
        font-size: 1.2rem;
        color: #333;
        @media screen and (max-width: 768px) {
            font-size: 1.1rem;
        }

        &.legend-nm {
            font-weight: 600;
            color: #1764dc;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #eee;
            margin-bottom: 0.5rem;
        }

        .legend-color {
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 0.2rem;
            flex-shrink: 0;
            @media screen and (max-width: 768px) {
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }
}

.traffic-bar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    color: #888;
    .labeling{
        display: flex;
        width: 100%;
        justify-content: space-between;
        span{
            font-size: 1.3rem;
        }
    }
  }
  
  .traffic-bar {
    width: 100%;    
    height: 32px;
    border-radius: 8px;
    background: linear-gradient(to right, #ffd700, #ff8c00, #ff0000);
  }

  /* 모바일 */
@media screen and (max-width: 1024px) {
    .legend-trigger{
        display: none;
    }
    body:has(.legend-float.show){
        .aside-panel{
            //display: none;
            .aside-content{
                display: none;
            }
        }
    }
    .legend-float{
        left: 0;
        right: 0;
        width: 100vw;
        bottom: 0;
        position: fixed;
        border: 1px solid #555;
        border-left: 0;
        border-right: 0;
        border-radius: 1.2rem 1.2rem 0 0;
        z-index: 100;
        .legend-tab{
            //display: none;
        }
        .legend-tab-content{}
    }
}