@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.control-group{
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
}

.mobile-legend-toggle{
  margin-top: 1rem;
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
  }
}
.btn-control-btn,
.btn-control-popup{
    position: relative;
    background: linear-gradient(to bottom, #fff, #fff);
    border: 1px solid #fff;
    border-radius: 0.8rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    transition: all 0.4s;
    &.active{
      .btn-tooltip{
        opacity: 0;
        visibility: hidden;
        display: none;
      }
    }
    .btn-tooltip {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: -90px;
        top: 50%;
        transform: translateY(-50%) translateX(20%);
        background: #222;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 0.6rem 1.2rem;
        border-radius: 0.8rem;
        white-space: nowrap;
        z-index: 10;
        box-shadow: 0 2px 8px rgba(0,0,0,0.12);
        pointer-events: none;
        transition: all .5s;
      }
      .btn-tooltip::after {
        content: '';
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
        border-width: 6px 0 6px 8px;
        border-style: solid;
        border-color: transparent transparent transparent #222;
      }
      &:hover .btn-tooltip {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%) translateY(-50%);
      }
      @media screen and (min-width: 1025px) {
        &:hover{
          border-color: #256EF4;
          .svg-icon{
            background: #256EF4;
          }
        }
      }
      
      &.active{
        //background: linear-gradient(to bottom, #3658D3, #17A595);
        background: #256EF4;
        .svg-icon{
            background: #fff !important;
        }
      }
}

.btn-control-legend{
  @media screen and (max-width: 1024px) {
    &[aria-pressed="true"]{
      .svg-icon{
        border-color: #256EF4;
        background: #256EF4;
      }
    }
  }
}


.bg-map-list{
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  gap: 2rem;
}
.check-bg-map{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: .5rem;
  cursor: pointer;
  input{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    display: block;
  }
  &-img{
    position: relative;
    &::after{
      content:'';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      border: 1px solid #d8d8d8;
      //transition: all 0.35s;
      will-change: auto;
    }
    &::before{
      content:'';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: url('@/assets/images/map/ico-check.svg') no-repeat center center;
      width: 1.6rem;
      height: 1.4rem;
      opacity: 0;
      transition: all 0.35s;
      will-change: auto;
    }
  }
  &:has(input:checked){
    .check-bg-map-img{
      &::after{
        border: 2px solid var(--color-primary);
        background-color: rgba(#1764DC,0.3);
      }
      &::before{
        opacity: 1;
      }
    }
    .check-bg-map-title{
      font-weight: 700;
      color: var(--color-primary);
    }
  }
  &-title{
    color: #1D1D1D;
    font-size: 1.3rem;
    line-height: 1;
    white-space: nowrap;
  }
}

.option-panel {
  display: none;
  min-width: 25rem;
  background: #fff;
  border-radius: 1.2rem;
  border: 1px solid #c6c6c6;
  z-index: 3000;
  position: absolute;
  top: 0;
  right: 60px;
  margin-right: 8px;
  @media screen and (max-width: 1024px) {
    border-radius: 0;
    border: 0;
  }
  
  &.show {
    display: block;
    @media screen and (max-width: 1024px) {
      z-index: 100010;
    }
  }

  &-inner {
    padding: 2rem;
    font-size: 1.5rem;
    color: #222;
    position: relative;
  }

  &-title {
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 1;
    background-color: #26293D;
    color: #fff;
    margin: -2rem -2rem 2rem -2rem;
    padding: 1.5rem 2rem;
    border-radius: 1.2rem 1.2rem 0 0;
    @media screen and (max-width: 1024px) {
      background: none;
      border-radius: 0%;
      color: #000;
    }
  }

  &-content {
    
  }
  .ico-close{
    background-color: #fff;
    opacity: 1;
  }
}

.option-close {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  background: none;
  border: none;
  font-size: 2.2rem;
  color: #888;
  cursor: pointer;
  line-height: 1;
  z-index: 1;
  padding: 0;
  transition: color 0.15s;
  &:hover {
    color: #222;
  }
}


body:has(.option-panel.show){
  .map-topright{
    z-index: 1001;
  }
}

.option-panel{
  width: 37rem;
  @media screen and (max-width: 1024px) {
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
  }
}

.distance-panel{
  display: none;
  //position: absolute;
  right: 70px;
  top: 125px;
  z-index: 3000;
  background-color: #fff;
  position: absolute;
  padding: 4px;
  padding-right: 12px;
  border-radius: .8rem;
  &.show{
    display: block;
  }
  @media (max-width: 1024px) {
    top:235px;
  }
}
.distance-panel-inner{
  display: flex;
  flex-direction: column;
  
  .distance-panel-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    font-size: 13px;
    &.active,
    &:hover{
      color: var(--color-primary);
      i{
        background-color: var(--color-primary);
      }
    }
  }
}

.btn-control-distance{
  &::after{
    display: block;
      content:'';
      position: absolute;
      left: .4rem;
      top: .4rem;
      
      width: .6rem;
      height: .6rem;
      transition: all 0.2s;
      background: url('@/assets/images/map/angle.png') no-repeat center center;
  }
  &.active{
    &::after{
      background-image: url('@/assets/images/map/angle-white.png');
    }
  }
}

[data-option-panel="optionPanel1"]{
  top: 20px;
}
[data-option-panel="optionPanel2"]{
  top: 70px;
}
@media screen and (max-width: 1024px) {
  [data-option-panel="optionPanel1"]{
    top: 0;
    .ico-close2{
      background-color: #000;
    }
    .layer-accordion{
      overflow: auto;
      height: calc(100dvh - 10rem - 7rem);
    }
  }
  [data-option-panel="optionPanel2"]{
    //display: block;
    top: auto;
    bottom: 0;
    height: auto;
    .ico-close2{
      background-color: #000;
    }
  }
}

@media screen and (max-width: $desktop) {
  .control-group{
    gap:1rem 0;
  }
  .zoom-control{
    display: flex;
    gap: 1rem 0;
  }
}

.layer-accordion {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  &__item, &__item2 {
    border-radius: 0.8rem;
    overflow: hidden;
    //margin-bottom: 0.5rem;
    background: #fafafa;
  }
  &__title, &__title2 {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    //padding: 1rem 1.5rem;
    height: 4.8rem;
    padding: 0 1.6rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
    transition: background 0.2s;
    &:focus { background: #e5eaf2; }
    &[aria-expanded="true"] .ico-arrow-down {
      transform: rotate(-180deg);
    }
  }
  &__title{
    &[aria-expanded="true"]{
      background: rgba(#1764DC,0.1);
      font-weight: 700;
    }
  }
  &__title2{
    justify-content: flex-start;
    gap:0 .8rem;
    padding: 0 1.6rem;
    height: 4rem;
    .switch-item{
      flex-shrink: 0;

    }
    > button{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: left;
      flex: 1;
      height: 100%;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1;
      position: relative;
      gap:0 .8rem;
      height: 4rem;
    }
  }
  &__panel, &__panel2 {
    padding: 0 .8rem .8rem;
    background: rgba(#1764DC,0.1);
    display: none;
    
    &.show {
      display: flex;
      flex-direction: column;
      gap:.8rem;
    }
  }

  &__panel2{
    background-color: #fff;
  }
  
  &__badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F0F0F0;
    color: #2196f3;
    border-radius: 1rem;
    font-size: 1.3rem;
    text-align: center;
    width: 4.5rem;
    height: 2rem;
    color: #717171;
    justify-self: flex-end;
  }
  .ico-arrow-down {
    margin-left: 0.5rem;
    transition: transform 0.2s;
  }
}

.switch{
  display: block;
  position: relative;
  width: 3.2rem;
  height: 2rem;
  border-radius: 99rem;
  background-color: #C6C6C6;
  transition: all 0.5s;
  input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
  }
  &::after{
    content:'';
    position: absolute;
    left: .2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    transition: all 0.5s;
    background: url('@/assets/images/map/switch-off.svg') no-repeat center center;
  }
  &:has(input:checked){
    background: var(--color-primary);
    &::after{
      background: url('@/assets/images/map/switch-on.svg') no-repeat center center;
      left: calc(100% - 1.8rem);
    }
  }
}

.marker-controls {
  display: flex;
  gap: 1.2rem;
  &__preview {
    width: 8rem; height: 8rem;
    display: flex; align-items: center; justify-content: center;
    border-radius: 1rem;
    background: #fff;
    border: 1px solid #C6C6C6;
    flex-shrink: 0;
  }
  &__content{
    flex: 1;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  &__item {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 0.6rem;
    padding: 0.6rem 1.6rem;
    font-size: 1.3rem;
    cursor: pointer;
    line-height: 1;
    transition: border 0.2s, background 0.2s;
    color: #717171;
    align-items: center;
    display: flex;
    .marker{
      width: 2rem;
      height: 2rem;
      background-size: cover;
    }
    &--selected {
      border-color: #2196f3;
      background: #f0f8ff;
      font-weight: 700;
    }
  }
  &__color {
    margin-top: .4rem;
  }
  &__palette {
    display: grid;
    grid-template-columns: repeat(7, minmax(0,1fr));
    gap: 0.6rem;
    background-color: #F8F8F8;
    border-radius: .6rem;
    padding: 0.8rem 1.5rem;
    margin-bottom: .4rem;
  }
  &__swatch {
    width: 2rem; height: 2rem;
    border-radius: 0.4rem;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.2s;
    //&:focus { outline: 2px solid #2196f3; }
    &--selected { }
  }
  &__opacity {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    input[type='range'] {
      flex: 1;
      -webkit-appearance: none;
      width: 100%;
      height: 6px;
      border-radius: 5px;
      background: linear-gradient(to right, #555 100%, #ccc 0%);
      outline: none;
      cursor: pointer;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1rem;
        height: 1rem;
        background: #555;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -1px;
      }
    }
    span {
      min-width: 40px;
      text-align: right;
      font-size: 1.2rem;
    }
  }
}

.layer-select{
  display: flex;
  gap: 0 1rem;
  .select{
    width: 50%;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .8rem center;
    background-size: 1.6rem;
    padding-left: 0.5rem;
  }
}

select.select{
  border: 1px solid #C6C6C6;
  display: block;
  height: 4rem;
  border-radius: .6rem;
  &::after{
    content: '';
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.area-controls {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding-top: .8rem;
  &__title {
    font-size: 1.3rem;
    font-weight: 700;
    color: #17A595;
    margin-bottom: 0.4rem;
    line-height: 1.34;
    span {
      font-weight: 700;
      margin-right: 0.2rem;
    }
  }
  &__selectbox {
    background: #fff;
    border-radius: .6rem;
    border: 1px solid #C6C6C6;
    padding: 2rem 0;
    text-align: center;
  }
  &__info {
    text-align: center;
    font-size: 1.3rem;
    .icon{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
    .area-controls__icon {
      background: url('@/assets/images/map/ico-!.svg') no-repeat center center;
      width: 2rem; height: 2rem;
      display: inline-block;
    }
    .area-controls__desc {
      color: #717171;
      font-size: 1.3rem;
      padding: .8rem 0;
    }
  }
  &__btn {
    margin: 0 auto;
    &--primary {
      border-radius: .4rem;
      height: 4rem;
      background: rgba(#1764DC,0.1);
      color: #1764DC;
      font-size: 1.5rem;
      line-height: 1;
      border: 1px solid #1764DC;
      width: 10.7rem;
    }
    &--reset {
      display: block;
      border: 1px solid #555555;
      color: #555555;
      background: #fff;
      font-size: 1.5rem;
      padding: 8px 1.6rem;
      border-radius: .6rem; 
    }
  }
  &__buffer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4rem;
    padding: 0 1.6rem;
    margin-bottom: .4rem;
    gap:0 .8rem;
    border: 1px solid #c6c6c6;
    border-radius: .6rem;
    &-input {
      flex: 1;
      border: none;
      font-size: 1.5rem;
      text-align: right;
      outline: none;
      padding: 0;height: 100%;
      color: #1D1D1D;
      background: transparent;
    }
    &-unit {
      font-size: 1.3rem;
      color: #888;
      
    }
  }
  &__buffer-table {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
  }
  
  &__buffer-cell {
    font-size: 1.5rem;
    color: #8e8e8e;
    text-align: center;
    padding: 7px 0;
    transition: background 0.2s, color 0.2s, border 0.2s;
    border-top: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    &:nth-child(3n){
      border-right: 1px solid #c6c6c6;
    }
    &:last-child{
      border-right: 1px solid #c6c6c6;
    }
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12){
      border-bottom: 1px solid #c6c6c6;
    }
    @media screen and (max-width: 1024px) {
      font-size: 1.2rem;

    }
    &--selected {
      background: var(--color-primary);
      color: #fff;
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1.2rem;
    button{
      margin: 0;
    }
  }
}

.slide-popup{
  display: none;
  position: absolute;
  z-index: 100;
  width: 76rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  @media screen and (max-width: 1024px) {
    left: 0% !important;
    top: 0% !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
  }
  &-inner{
    padding: 2rem;
    @media screen and (max-width: 1024px) {
      padding: 1rem;
    }
  }
  &-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;
    background-color: #26293D;
    border-radius: .8rem .8rem 0 0;
  }
  &-title{
    font-weight: 700;
    color: #fff;
    font-size: 2.1rem;
    @media screen and (max-width: 1024px) {
      font-size: 1.7rem;
    }
  }
  &-content{
    background: #F0F0F0;
    border: 1px solid #C6C6C6;
    border-top: 0;
    border-radius: 0 0 .8rem .8rem;
    padding: 2rem 10rem;
    position: relative;
    @media screen and (max-width: 1024px) {
      padding: 1rem 5rem;
    }
    .swiper-button-prev,
    .swiper-button-next{
      background: #fff;
      border-radius: 50%;
      border: 1px solid #C6C6C6;
      top: 50%;
      transform: translateY(-50%);
      width: 6.4rem;
      height: 6.4rem;
      color: #000;
      margin-top: 0;
      @media screen and (max-width: 1024px) {
        width: 4rem;
        height: 4rem;
      }
      &::after{
        font-size: 2.5rem;
        @media screen and (max-width: 1024px) {
          font-size: 1.6rem;
        }
      }
    }
    .swiper-button-prev{
      left: 2rem;
      @media screen and (max-width: 1024px) {
        left: .8rem;
      }
    }
    .swiper-button-next{
      right: 2rem;
      @media screen and (max-width: 1024px) {
        right: .8rem;
      }
    }
  }
  .swiper-pagination-total{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius:999rem;
    width: 6.5rem;
    height: 4rem;
    margin: 2rem auto 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    gap:0 .4rem;
    .current{
      color: #374352;
    }
    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
      margin: 1rem auto 0;
    }
  }
}

.poi-popup{
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 100;
  border-radius: .8rem;
  &-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;
    background-color: #17A595;
    border-radius: .8rem .8rem 0 0;
    .poi-popup-title{
      color: #fff;
      font-size: 1.7rem;
    }
    @media screen and (max-width: 768px) {
      border-radius: 0;

    }
  }
  &-content{
    padding: 2rem;
    border-radius: 0 0 .8rem .8rem;
    max-height: 32rem;
    overflow-y: auto;
    @media screen and (max-width: 768px) {
      max-height: inherit !important;
      .map-detail-info-list li strong{
        width: 12.5rem;
      }
    }
  }
  @media screen and (max-width: 768px) {
    left: 0% !important;
    top: 0% !important;
    z-index: 10000 !important;    
    width: 100% !important;
    height: 100% !important;
  }
}

.area-info-popup{
  display: none;
  position: absolute;
  z-index: 100;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  background-color: #fff; 
  border-radius: .8rem;
  border: 1px solid #c6c6c6;
  padding: 12px;
  &-inner{
    
  }
  &-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{font-size: 1.5rem;}
    .radius{
      color: #717171;
    }
    .value{color:var(--color-primary);font-weight: 500;}
    .unit{
      font-style: normal;
      color: #717171;
    }
  } 
  .btn-reset{
    margin-top: 16px;
    width: 100%;
    border: 1px solid #D8D8D8;
    background-color: #fff;
    border-radius: 3rem;
    color: #555;
    font-size: 1.5rem;
    padding: .4rem 3.4rem;
    display: flex;
    align-items: center;
    gap:0 1rem;
    i{
      width: 2.4rem;
      height: 2.4rem;
      background: url('@/assets/images/map/reset.png') no-repeat center center;
    }
  }
}

.mobile-black-bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10001;
  display: none;
  @media screen and (max-width: 1024px) {
    //display: block;

  }
}

body:has([data-option-panel="optionPanel2"].show){
  @media screen and (max-width: 1024px) {
    .mobile-black-bg{
      display: block;
    }
  }
}

#background-maps{
  @media screen and (min-width: 1025px) {
    max-width: 25rem;
  }
  
}