@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.wrap-login, .wrap-join {
  max-width:464px;
  margin:0 auto;

  .buttons {
    margin-top:40px;
    &.buttons-last {margin-top:60px;}
    &.column {
      display:flex;
      flex-direction: column;
      gap:16px;
    }
    @media (max-width: $tablet){
      &.buttons-last {margin-top:40px;}
    }
    
  }

  & > .text-information {margin-bottom:40px;} 

  .inform-title {
    & + .text-information {
      margin-top:16px;
    }
  }
}

.login-form, .guest-form, .join-form {
  .form-item {
    & + .form-item {margin-top:16px;
      .label-title {padding-top:25px}
    }
    & + .text-information {
      margin-top:16px;
    }
    & + .link {
      margin-top:40px;
    }
  }
  .form-checkbox {margin-top:16px;}
  .form-tail {margin-top:56px;}

  .label-title {display:block;font-size:16px;color:#DDDDDD;margin-bottom:16px;font-weight:600;}
 
  
}

.guest-form {margin-top:40px;}

.login-utils {display:flex;align-items:center;justify-content: center;margin-top:24px;
  & > li {position: relative;display: flex; align-items: center; justify-content: center; text-align: center;
    @media (max-width: $tablet){width:100%;}
    & + li:before {
      content: "";
      position: absolute;
      display: block;
      top: 2px;
      left:0;
      width: 1px;
      height: 12px;
      background-color: rgba(#fff, 0.1);
      vertical-align: middle;
    }
  }
  a {display:block;padding:0 30px;font-size:14px;color:#8D8D8D;line-height:1.5;font-size:16px;font-weight:400;
    @media (max-width: $tablet){font-size:11px;padding:0 5px;}
  }
  .button {padding:0; font-size:14px; font-weight:400; color:#8D8D8D; border:none; background:none; box-shadow:none;
    &:hover {opacity:0.8;}
  }
}


.inform-wrap {
  margin-top:40px;
  background-color: #1D1D1F;
  padding: 32px;
  border-radius: 10px;
  .inform-title {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--greycolor-grey02);
    margin-top: 0px;
    text-align: left;
    border-radius: 10px;
    i {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.5rem;
      background-size: contain;
    }
  }
}

.list-dot {
  margin-top:16px;
  & > li {
    position: relative;
    padding-left: 18px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #99999A;
    &:before {
      content: "";
      position: absolute;
      top: 10px;
      left: 8px;
      width: 2px;
      height: 2px;
      background-color: #99999A;
      border-radius: 50%;
    }
  }
}
.text-information {
  font-size: 16px;
  color: #8D8D8D;
  text-align: left;

  &.link {
    margin-top:40px;
  }
  &.center {
    text-align:center;
  }
}

.buttons.row {
  display: flex;
  gap: 0 16px;
  margin-top: 40px;
  @media (max-width: $tablet){flex-direction: column; gap:16px 0;}
}

.wrap-text-result {
  max-width:620px;
  margin:0 auto;
  background-image: url('@/assets/images/bg_eye_pettern.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  padding:40px 32px;
  min-height:200px;
  margin-bottom:60px;
  .inner-text {
    max-width:400px;
    margin:0 auto;
    text-align: center;
    strong {
      display: inline-block;
      margin-top:16px;
      font-size: 24px;
      color: #8CE2D0;
      font-weight: 700;

      @media (max-width: $tablet){font-size:18px;}
    }
    .text-information {
      text-align: center;
      font-size:16px;
      font-weight:600;
    }
  }
}


.member-choice-container {
  margin-top:40px;
  background-color: #1D1D1F;
  padding: 32px;
  border-radius: 10px;

  .radio-bottom-text {padding-left:28px;padding-bottom:20px;}
  .form-radio {
    & + .form-radio {padding-top:20px;}
  }
}

.form-tail {margin-top:56px;}

.verify-form {
  position:relative;

  input[type="text"] {
    padding-right:280px;
    @media (max-width: $tablet){
      padding-right:24px;
    }

  }

  .verify-message {
    display:block;
    position: absolute;
    font-size:14px;
    top:50%;
    right:15px;
    transform: translate(0, -50%);
    color: var(--cFFFFFF);

    @media (max-width: $tablet){
      position:relative;
      transform: translate(0, 0);
      text-align: right;
      right:0;
      padding-top:10px;
    }
  }
  
}