@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

// 서브 레이아웃 스타일
body,html{
    width: 100%;
    height: 100%;
    overflow: visible
}


.header{
  position: relative;
  z-index: 100;
}
.sublayout {
  &__header {
    position: relative;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
    transform-origin: center;
    //transform: scale(1);
    //transition: transform 0.4s ease;
  }

  .image-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 0 0 80px 0;
    overflow: hidden;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      //transform: scale(1.15);
    }
  }

  &__breadcrumb {
    position: absolute;
    top: 4.8rem;
    left: 6rem;
    color: #fff;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 2;
    @media screen and (max-width: $desktop) {
      top: 4rem;
      left: 4rem;
    }
    @media screen and (max-width: $tablet) {
      top: 2rem;
      left: 2rem;
    }
    li{
      +li{
        padding-left: 2rem;
        background: url('@/assets/images/portal/ico-bread.png') no-repeat 0 50%;
      }
    }
    .first{
        a{
          display: inline-block;
          padding-left: 1.7rem;
          background: url('@/assets/images/portal/ico-home.png') no-repeat 0 50%;
        }
    }
    a{
      span{
        text-decoration: underline;
      }
    }
    strong{
      text-decoration: underline;
    }
  }

  &__page {
    font-size: 40px;
    font-weight: 700;
    z-index: 2;
    color: #fff;
    @media screen and (max-width: $desktop) {
      font-size: 3.2rem;
    }
    @media screen and (max-width: $tablet) {
      font-size: 2.4rem;
    }
  }

  &__desc {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.95;
    z-index: 2;
    @media screen and (max-width: $desktop) {
      font-size: 1.6rem;
    }
    @media screen and (max-width: $tablet) {
      font-size: 1.4rem;
    }
  }

  &__body {
    width: 100%;
    //max-width: var(--container-xl);
    margin: 0 auto;
    padding: 8rem var(--gutter-md) 12rem;
  }

  &__title {
    font-weight: 600;
    color: #1d1d1d;
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 60px;
    @media screen and (max-width: $desktop) {
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }
    @media screen and (max-width: $tablet) {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    &._white{color: #fff;
      span::after{background-color: #fff;}
    }
    span{
      display: inline-block;
      position: relative;
      padding-left: 14px;
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
        background: #1764dc;
        border-radius: 50%;
        @media screen and (max-width: $desktop) {
          width: 6px;
          height: 6px;
        }
      }
    }
    .point{color: #17a495;font-style: normal;
      position: relative;
      overflow: hidden;
      display: inline-block;vertical-align: top;
      b{
        display: inline-block;
        vertical-align: top;
        //transform: translateY(110%);
      }
    }
  }
}