<div class="slide-popup">
    <div class="slide-popup-inner">
        <div class="slide-popup-header">
            <div class="slide-popup-title">소형선항만 정보</div>
            <button type="button" class="slide-popup-close" title="닫기"><i class="svg-icon ico-close-bold"></i></button>
        </div>
        <div class="slide-popup-content">
            <div class="swiper-button-prev"></div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="./assets/images/map/dummy.png" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/map/dummy.png" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/map/dummy.png" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/map/dummy.png" alt=""></div>
                </div>
                <!-- 현재 인덱스 / 전체 -->
                <div class="swiper-pagination-total"><span class="current">1</span> / <span class="total">3</span></div>
            </div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>