<div class="poi-popup" style="left:70%;top:20%;">
    <div class="poi-popup-inner">
        <header class="poi-popup-header">
            <h3 class="poi-popup-title">소형선항만 정보</h3>
            <button type="button" class="poi-popup-close" title="닫기"><i class="svg-icon ico-close-bold"></i></button>
        </header>
        <div class="poi-popup-content">
            <ul class="map-detail-info-list">
                <li><strong>용도구분</strong><span>자연환경보전지역</span></li>
                <li><strong>지목</strong><span>-</span></li>
                <li><strong>무인도서 관리유형</strong><span>절대보전</span></li>
                <li><strong>주변해역 관리유형</strong><span>절대보전</span></li>
                <li><strong>영해기점 무인도서 유무</strong><span>영해기점</span></li>
                <li><strong>지정고시일(법령고시일)</strong><span>2023년 09월 18일</span></li>
                <li><strong>용도구분</strong><span>자연환경보전지역</span></li>
                <li><strong>지목</strong><span>-</span></li>
                <li><strong>무인도서 관리유형</strong><span>절대보전</span></li>
                <li><strong>주변해역 관리유형</strong><span>절대보전</span></li>
                <li><strong>영해기점 무인도서 유무</strong><span>영해기점</span></li>
                <li><strong>지정고시일(법령고시일)</strong><span>2023년 09월 18일</span></li>
            </ul>
        </div>
    </div>
</div>