

<!-- 무인도서 법률 안내 팝업 -->
<div id="law-info-popup" class="law-info-popup" style="    left: 15px;top: 350px;">
    <div class="law-info-content">
        <div class="law-info-header">
            <h3>무인도서의 보전 및 관리에 관한 법률</h3>
            <button type="button" class="law-info-close">×</button>
        </div>
        <div class="law-info-body">
            <div class="law-article">
                <h4>[제 10조]</h4>
                <p>
                    <span class="highlight">이용가능</span> 무인도서는 무인도서의 형상을 훼손하지 아니하는 범위 안에서 사람의 출입 및 활동이 허용되는 무인도서
                </p>
            </div>
            <div class="law-reference">
                * <a href="#" class="law-link">[제15조](이용가능무인도서에서의 행위)</a>참고
            </div>
        </div>
    </div>
</div>
<!-- // 무인도서 법률 안내 팝업 -->