<div class="legend-wrap">
    <div class="legend-trigger">
        <button type="button" class="btn-legend toggle-btn" title="열림" aria-pressed="false">지도 범례<i
                class="svg-icon ico-arrow-up"></i></button>
    </div>
    <div class="legend-float">
        <div class="legend-content">
            <nav class="legend-tab">
                <ul>
                    <li><button type="button" class="btn-legend-tab active" data-tab="0">무인도서</button></li>
                    <li><button type="button" class="btn-legend-tab" data-tab="1">관련정보</button></li>
                    <li><button type="button" class="btn-legend-tab" data-tab="2">주변정보</button></li>
                    <li><button type="button" class="btn-legend-tab" data-tab="3">선박통행량</button></li>
                    <li><button type="button" class="btn-legend-tab" data-tab="4">특수정보</button></li>
                </ul>
                <button type="button" class="btn-legend-tab-close" title="닫기">
                    <span><i></i></span>
                </button>
            </nav>
            <div class="legend-tab-content active">
                <div class="legend-list">
                    <div class="legend-item"><i class="ico-legend-1"></i><span>절대보전 무인도서</span></div>
                    <div class="legend-item"><i class="ico-legend-2"></i><span>이용가능/개발가능 무인도서</span></div>
                    <div class="legend-item"><i class="ico-legend-3"></i><span>준보전 무인도서</span></div>
                    <div class="legend-item"><i class="ico-legend-4"></i><span>미지정 무인도서</span></div>
                    <div class="legend-item"><i class="ico-legend-5"></i><span>이용가능 무인도서</span></div>
                    <div class="legend-item"><i class="ico-legend-6"></i><span>개발가능 무인도서</span></div>
                    <div class="legend-item"><i class="ico-legend-7"></i><span>준보전/개발가능 무인도서</span></div>
                </div>
            </div>
            <div class="legend-tab-content">
                <div class="pin-list">
                    <div class="pin-item"><i class="ico-pin-1"></i><span>관광</span></div>
                </div>
            </div>
            <div class="legend-tab-content">
                <nav class="legend-tab2">
                    <button type="button" class="btn-legend-tab2 active" data-tab="0">소형선항만</button>
                    <button type="button" class="btn-legend-tab2" data-tab="1">어장정보</button>
                    <button type="button" class="btn-legend-tab2" data-tab="2">사고현황</button>
                    <button type="button" class="btn-legend-tab2" data-tab="3">국토계획</button>
                    <button type="button" class="btn-legend-tab2" data-tab="4">토지 특성</button>
                    <button type="button" class="btn-legend-tab2" data-tab="5">개별공시지가</button>
                </nav>
                <div class="legend-tab2-content active">
                    <div class="pin-list">
                        <div class="pin-item"><i class="ico-pin-2"></i><span>소형선항만</span></div>
                    </div>
                </div>
                <div class="legend-tab2-content">
                    <ul class="map-serviceList-legend" id="legendDiv">
                        <li><span class="legend-color" style="border:2px solid rgb(10, 0, 255, 0.6); background-color: rgba(75, 137, 220, 0.5);"></span>어장 정보</li>
                    </ul>
                </div>
                <div class="legend-tab2-content">
                    <div class="pin-list">
                        <div class="pin-item"><i class="ico-pin-3"></i><span>사고</span></div>
                    </div>
                </div>
                <div class="legend-tab2-content">
                    <ul class="map-serviceList-legend" id="legendDiv">
                        <!-- <li value="tritPln" class="legend-nm active">국토계획 용도 지역·지구 등</li> -->
                        <li><span class="legend-color"
                                style="border:2px solid rgb(80,130,130); background-color: rgb(80,130,130);"></span>도시지역
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(80,170,170); background-color: rgb(80,170,170);"></span>관리지역
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(200,200,0); background-color: rgb(200,200,0);"></span>농림지역
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(100,200,100); background-color: rgb(100,200,100);"></span>자연환경보전지역
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(130,130,90); background-color: rgb(130,130,90);"></span>기타용도지역
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(250,130,41); background-color: rgb(250,130,41);"></span>경관지구
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(170,240,170); background-color: rgb(170,240,170);"></span>미관지구
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(48,122,214); background-color: rgb(48,122,214);"></span>고도지구
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(255,0,0); background-color: rgb(255,0,0);"></span>방화지구
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(38,169,19); background-color: rgb(38,169,19);"></span>방재지구
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(0,0,0); background-color: rgb(255,255,255);"></span>보존지구
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(166,206,227); background-color: rgb(166,206,227);"></span>시설보호지구
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(181,49,114); background-color: rgb(181,49,114);"></span>취락지구
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(159,112,162); background-color: rgb(159,112,162);"></span>개발진흥지구
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(0,0,0); background-color: rgb(0,0,0);"></span>특정용도제한지구
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(0,0,0); background-color: rgb(0,0,0);"></span>기타용도지구
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(0,0,0); background-color: rgb(0,0,0);"></span>구역
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(23,46,111); background-color: rgb(23,46,11);"></span>도시계획사업지역
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(56,90,89); background-color: rgb(56,90,89);"></span>교통시설
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(184,0,0); background-color: rgb(184,0,0);"></span>공간시설
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(182,0,0); background-color: rgb(182,0,0);"></span>유통및공급시설
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(189,0,0); background-color: rgb(189,0,0);"></span>공공문화체육시설
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(186,0,0); background-color: rgb(186,0,0);"></span>방재시설
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(140,140,140); background-color: rgb(128,128,128);"></span>보건위생시설
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(140,140,140); background-color: rgb(128,128,128);"></span>환경기초시설
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(140,140,140); background-color: rgb(128,128,128);"></span>기타기반시설
                        </li>
                    </ul>

                </div>
                <div class="legend-tab2-content">
                    <ul class="map-serviceList-legend" id="legendDiv">
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(205,233,247);"></span>기타
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(241,225,177);"></span>전
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(193,254,192);"></span>답
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(254,197,182);"></span>과수원
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(236,170,130);"></span>목장용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(151,251,191);"></span>임야
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(249,211,208);"></span>광천지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(230,230,255);"></span>염전
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(253,206,248);"></span>대
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(173,209,224);"></span>공장용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(201,147,255);"></span>학교용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(225,225,225);"></span>주차장
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(193,199,250);"></span>주유소용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(101,247,250);"></span>창고용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(190,194,220);"></span>도로
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(207,253,254);"></span>철도용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(128,128,255);"></span>하천
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(117,180,236);"></span>제방
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(255,255,0);"></span>구거
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(228,222,143);"></span>유지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(141,227,117);"></span>양어장
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(196,210,142);"></span>수도용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(162,167,210);"></span>공원
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(168,173,99);"></span>체육용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(209,182,180);"></span>유원지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(209,182,225);"></span>종교용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(209,225,180);"></span>사적지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(151,182,180);"></span>묘지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(19,19,19); background-color: rgb(243,216,248);"></span>잡종지
                        </li>
                    </ul>

                </div>
                <div class="legend-tab2-content">
                    <ul class="map-serviceList-legend" id="legendDiv">
                        <!-- <li value="indvdLandPrice" class="legend-nm active">개별공시지가 지목</li> -->
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(205,233,247);"></span>기타
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(241,225,177);"></span>전
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(193,254,192);"></span>답
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(254,197,182);"></span>과수원
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(236,170,130);"></span>목장용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(151,215,191);"></span>임야
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(249,211,208);"></span>광천지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(230,230,255);"></span>염전
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(254,206,248);"></span>대
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(173,209,224);"></span>공장용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(201,147,255);"></span>학교용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(225,225,225);"></span>주차장
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(193,199,250);"></span>주유소용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(101,247,250);"></span>창고용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(190,194,220);"></span>도로
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(207,253,354);"></span>철도용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(128,128,255);"></span>하천
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(117,180,236);"></span>제방
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(255,255,0);"></span>구거
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(228,222,143);"></span>유지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(141,227,117);"></span>양어장
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(196,210,142);"></span>수도용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(162,167,210);"></span>공원
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(168,173,99);"></span>체육용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(209,182,180);"></span>유원지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(209,182,225);"></span>종교용지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(209,225,180);"></span>사적지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(151,182,180);"></span>묘지
                        </li>
                        <li><span class="legend-color"
                                style="border:2px solid rgb(110,110,110); background-color: rgb(243,216,248);"></span>잡종지
                        </li>
                    </ul>
                </div>
            </div>
            <div class="legend-tab-content">
                <div class="traffic-bar-wrapper">
                    <div class="traffic-bar"></div>
                    <div class="labeling">
                        <span>통행량 적음</span>
                        <span>통행량 많음</span>
                    </div>
                </div>
            </div>
            
            <div class="legend-tab-content">
                <div class="pin-list">
                    <div class="pin-item"><i class="ico-pin-4"></i><span>특수정보</span></div>
                    <div class="pin-item"><span>해상국립공원 #07a33e</span></div>
                    <div class="pin-item"><span>영해기선 #1764DC </span></div>
                </div>
            </div>
        </div>
    </div>
</div>