<header class="header">
    <div class="header-container">
        <h1 class="logo"><a href="/" title="홈 바로가기"></a></h1>
        <nav id="nav">
            <ul id="gnb" class="gnb">
                <li class="gnb-lv1"><a href="#" class="current">지도로 보는 무인도서</a>
                    <div class="gnb-submenu"></div>
                </li>
                <li class="gnb-lv1"><a href="#">무인도서 안내</a>
                    <div class="gnb-submenu">
                        <ul class="gnb-submenu-list">
                            <li class="gnb-submenu-item"><a href="#">무인도서 정의</a></li>
                            <li class="gnb-submenu-item"><a href="#">무인도서 현황</a></li>
                            <li class="gnb-submenu-item"><a href="#">무인도서 이용방법</a></li>
                        </ul>
                    </div>
                </li>
                <li class="gnb-lv1"><a href="#">무인도서 자료실</a>
                    <div class="gnb-submenu">
                        <ul class="gnb-submenu-list">
                            <li class="gnb-submenu-item"><a href="#">무인도서 통계</a></li>
                            <li class="gnb-submenu-item"><a href="#">무인도서 OpenAPI</a></li>
                            <li class="gnb-submenu-item"><a href="#">무인도서 홍보</a></li>
                        </ul>
                    </div>

                </li>
                <li class="gnb-lv1"><a href="#">무인도서 커뮤니티</a>
                    <div class="gnb-submenu">
                        <ul class="gnb-submenu-list">
                            <li class="gnb-submenu-item"><a href="#">공지사항</a></li>
                            <li class="gnb-submenu-item"><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="header-right">
            <button type="button" class="mobile-btn-menu" title="메뉴 열기">
                <span class="mobile-btn-menu__line">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="header-bg"></div>
</header>